.container {
  height: 100vh;
  width: 100vw;
  background-color: #85beff;
}

.main {
  height: 100vh;
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content:flex-start;
  align-items: center;
  gap: 2%;
  background-color: #0000;
}

.graph {
  width:80vw;
  height: 20%;
  border: 10px;
  margin-top: 2.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgb(212, 212, 212);
  box-shadow: 10px 7px 20px rgba(22, 12, 60, 0.2);
 }
.title{
  padding-top: 1%;
  font-size: 2rem;
}

.box {
  width:60%;
  height: 50%;
  border: 10px;
  border-color: black;
  border-radius: 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: 0.4s ease-in;
  background: white;
  box-shadow: 10px 7px 20px rgba(22, 12, 60, 0.2);
 }
 

 .cardImg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 20%;
  height: 20%;
  background: rgb(32, 32, 32);
  margin: 0;
 }

.opinionBox{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

 .like {
  outline: none;
  border: none;
  border-radius: 4px;
  font-weight: bold;
  transition: 0.4s ease-in;
  width: 2rem;
 }
 .dislike {
  outline: none;
  border: none;
  border-radius: 4px;
  font-weight: bold;
  transition: 0.4s ease-in;
  width: 2rem;
 }

.text{
  font-size: 2.7rem;
}